* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    height: 80px;
}

main {
    height: calc( 100vh - 160px)
}

button {
    background-color: inherit;
    border: none;
    color: white;
    margin: 0 3px;
    cursor: pointer;
}

#header-left {
    width:50%;
    height: 80px;
    padding: 20px 10px;
    float: left;
}

.fa-lock {
    color: #59d65e;
}

#header-right {
    width:50%;
    height: 80px;
    padding: 20px 10px;
    text-align: right;
    float: left;
    color: white;
    text-align: right;
}

#header-right a {
    padding: 5 9px;
    height: 32px;
}

#webcam-wrapper {
    height: 100%;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.webcam {
    height: 150px;
    width: 250px;
    text-align: center;
    overflow: hidden;
    border: 2px solid black;
    position: relative;
}

.overlay-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    color: white;
    padding: 2px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}

.fa-microphone-slash {
    color: red;
}

footer {
    background-color: #1a252f;
    height: 80px;
    display: flex;
    color: white;
    justify-content: space-between;
}

#footer-left {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

#footer-center {
    width: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#footer-right {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-right a {
    text-decoration: none;
    color: red;
}

.footer-element {
    height: 100%;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.footer-element:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#footer-center .footer-element {
    padding: 8px 20px;
}

#footer-center .footer-element:nth-child(3) i {
    color: #59d65e;
}

#footer-center .footer-element:nth-child(4) {
    background-color: orange;
}

#footer-right .footer-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-element-up {
    height: 80%;
}

@media all and (max-width: 950px) {
    #footer-center {
        display: none;
    }
}
