* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: red;
    height: 80px;
}

main {
    background-color: lightgreen;
    height: calc( 100vh - 160px)
}

footer {
    background-color: blue;
    height: 80px;
}
